<!-- <div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold text-center text-blue-800">{{ busDetails?.name }}</h1>
  <p class="text-xl text-center">Bus Number: {{ busDetails?.busNo }}</p>
  <p class="text-center">Total Seats: {{ busDetails?.seats.length }}</p>

  <div class="grid grid-cols-4 gap-2 mt-4">
    <div *ngFor="let seat of busDetails?.seats" class="p-2 rounded text-center"
      [ngClass]="seat.isBooked ? 'bg-red-400' : 'bg-green-400'">
      {{ seat.isBooked ? 'Booked' : 'Available' }}
    </div>
  </div>
</div> -->

<p>Details</p>
